<% layout("layouts/boilerplate") %>

<div class="container">
    <h1>Login</h1>

    <form method="post" action="/login" novalidate class="needs-validation">

        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input 
                type="text" 
                name="username" 
                id="username"
                placeholder="Enter your username" 
                class="form-control" 
                required
            >
            <div class="invalid-feedback">
                Please enter a username.
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input 
                type="password" 
                name="password" 
                id="password"
                placeholder="Enter your password" 
                class="form-control" 
                required
            >
            <div class="invalid-feedback">
                Please enter a password.
            </div>
        </div>

        <br>
        <button class="btn btn-success">Login</button>
        <br><br>

    </form>
</div>
